#root {
  background: #dbe0e1;
  border-radius: 4px;
  width: 500px;
  padding: 5px;
  margin-top: 3%;
}

.todo-title{
text-align: center;
}

.todo-list{
  background: #e8e8e8;
  border-radius: 4px;
  width: 490px;
  padding: 5px;
}

.todo-input{
  width: 475px;
  margin-left: 5px;
  height: 30px;
  justify-content: space-between;
  padding-left: 10px;
  border: 1px solid #33333382;
  border-radius: 3px;
}

.todo {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 10px;
}