.todo{
  width: 100%;
}

.todo-label{
  display: inline-flex;
  width: 80%;
}

.todo-action{
  display: inline-flex;
  width: 20%;
  justify-content: space-between;
}

.todo-status{
  margin-right: 5px;
}

.todo-title{
text-align: center;
}

.todo-input{
  width: 475px;
  margin-left: 5px;
  height: 30px;
  justify-content: space-between;
  padding-left: 10px;
  border: 1px solid #33333382;
  border-radius: 3px;
}

.todo-complete {
  margin-right: 5px;
  height: 25px;
  background-color: #13bf7a38;
  border: 1px solid #13bf7a38;
  border-radius: 3px;
  cursor: pointer;
}

.todo-remove {
  width: 25px;
  height: 25px;
  background-color: #bf131338;
  border: 1px solid #bf131338;
  border-radius: 3px;
  cursor: pointer;
}

.todo-loading {
  padding: 10px;
  font-size: 14px;
}