.todo-title{
text-align: center;
}

.todo-list{
  background: #e8e8e8;
  border-radius: 4px;
  width: 490px;
  padding: 5px;
  margin-top: 15px;
}

.todo-input{
  width: 475px;
  margin-left: 5px;
  height: 30px;
  justify-content: space-between;
  padding-left: 10px;
  border: 1px solid #33333382;
  border-radius: 3px;
}

.todo {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 10px;
}

.todo-complete {
  margin-right: 5px;
  height: 25px;
  background-color: #13bf7a38;
  border: 1px solid #13bf7a38;
  border-radius: 3px;
  cursor: pointer;
}

.todo-remove {
  width: 25px;
  height: 25px;
  background-color: #bf131338;
  border: 1px solid #bf131338;
  border-radius: 3px;
  cursor: pointer;
}

.todo-loading {
  padding: 10px;
  font-size: 14px;
}